@page "/login"
@using BlazorApp4.Data

    <div class="modal-body">
        <table align="center" class="w-auto table table-responsive-md">
            <thead class="table-primary">
                <th>Welcome to</th>
                <tr><input required class="form-control" placeholder="login" @bind-value="_login" /></tr>
                <tr><input required class="form-control" placeholder="password" type="password" @bind-value="_password" /></tr>
                <tr><button class="btn btn-primary" @onclick="(()=>AuthorizationCheck(_login))">Log in</button></tr>
            </thead>
        </table>
    </div>


@code {
    private string _login;
    private string _password;

    private void AuthorizationCheck(string login)
    {
        
    }  
}
