@page "/registration"
<h3>Registration</h3>
<div class="container-fluid">

    <RegistrationComponent RegistrationIsActive="_trigger"></RegistrationComponent>
    <br>
    <button class="btn btn-primary" @onclick="Change">REGISTRATION</button>
</div>

@code {
    private bool _isRegistration=false;
    
    private bool _trigger = false;

    private void Change()
    {
        _trigger = !_trigger;
    }

}
