<div class="table-responsive">
<table class="table table-striped">
    <thead>
        <tr>
            <th>Login</th>
            <th>Surname</th>
            <th>Name</th>
            <th>PhoneNumber</th>
        </tr>
    </thead>
</table>
</div>

@code {
    [Parameter]
    public string Login { get; set; }
}
