@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <div class="main">          
      
        <div class="top-row px-4">
            <a class="btn btn-secondary" href="signup">Sign up</a>
            <a class="btn btn-primary" href="login">Log in</a>            
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <div class="content px-4">
            
            @Body
        </div>
    </div>
</div>
